<form [formGroup]="myForm" >
    <div  >
        <label>Имя</label>
        <input  name="name" formControlName="name" [(ngModel)]="user.name"/>
    </div>
    <div  >
        <label>Email</label>
        <input   name="email" formControlName="email" [(ngModel)]="user.email"/>
        <div  
            *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
            Некорректный email
        </div>
    </div>
    <div  >
        <label>Улица</label>
        <input   name="street" formControlName="street" [(ngModel)]="user.address.street"/>
    </div>
    <div  >
        <label>Адресс</label>
        <input   name="suite" formControlName="suite" [(ngModel)]="user.address.suite"/>
    </div>
    <div  >
        <label>Город</label>
        <input   name="city" formControlName="city" [(ngModel)]="user.address.city"/>
    </div>
    <div  >
        <label>Индекс</label>
        <input   name="zipcode" formControlName="zipcode" [(ngModel)]="user.address.zipcode"/>
    </div>
    <div  >
        <label>Телефон</label>
        <input   name="phone" formControlName="phone" [(ngModel)]="user.phone"/>
    </div>
    <div  >
        <label>WebSite</label>
        <input   name="website" formControlName="website" [(ngModel)]="user.website"/>
    </div>
    
</form>
<p><span >{{user.company.name}}</span></p>
<br>

<div>
    <pre>
        {{user | json}} 
    </pre>
</div>